<!-- BRANCH LOCATIONS -->
<div class="col-md-12 c1 branch-locations">
    <p class="lead">
        Find the Amalgamated Bank location closest to you.</p>

    <p class="lead">
        We look forward to serving you.</p>

    <div class="panel-group" id="accordion">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#n1">
                        <strong>Manhattan</strong> <small>6 <span class="hidden-xs">branches</span></small>
                    </a>
                </div>
            </div>

            <div class="panel-collapse collapse" id="n1">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>10 E. 14th Street</strong><br />
                                        New York, NY 10003</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        9:00a - 4:00p<br />
                                        <strong>Thurs</strong> 9:00a - 6:00p<br />
                                        <strong>Sat</strong> 
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        212.823.8708</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1745 Broadway @55th Street</strong><br />
                                        New York, NY 10019</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong> 
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        212.245.3200</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>301 3rd Avenue @ 23rd Street</strong><br />
                                        New York, NY 10010</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        9:00a - 4:00p<br />
                                        <strong>Thurs</strong> 9:00a - 6:00p<br />
                                        <strong>Sat</strong> 
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        212.679.5305</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>564 W. 125th Street</strong><br />
                                        New York, NY 10027</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        9:00a - 4:00p<br />
                                        <strong>Thurs</strong> 9:00a - 6:00p<br />
                                        <strong>Sat</strong> 
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        212.531.9280</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>52 Broadway</strong><br />
                                        New York, NY 10004</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p
                                    </div>

                                    <div class="phone">
                                        212.894.3000</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>275 7th Avenue</strong><br />
                                        New York, NY 10001</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong> 
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        212.895.8988</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#n2">
                        <strong>Roosevelt Island</strong> <small>1 <span class="hidden-xs">branch</span></small> 
                    </a>
                </div>
            </div>

            <div class="panel-collapse collapse" id="n2">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>619 Main Street</strong><br />
                                        New York, NY 10044</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        9:00a - 4:00p<br />
                                        <strong>Thurs</strong> 9:00a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        212.413.8775</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#n3">
                        <strong>Bronx</strong> <small>1 <span class="hidden-xs">branches</span></small>
                    </a>
                </div>
            </div>

            <div class="panel-collapse collapse" id="n3">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>2178 White Plains Road</strong><br />
                                        Bronx, NY 10462</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        9:00a - 4:00p<br />
                                        <strong>Thurs</strong> 9:00a - 6:00p<br />
                                        <strong>Sat</strong> 
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.839.1014</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>2067 Bartow Avenue</strong><br />
                                        Bronx, NY 10475</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        9:00a - 4:00p<br />
                                        <strong>Thurs</strong> 9:00a - 6:00p<br />
                                        <strong>Sat</strong> 
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.671.1800</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>94 E. Burnside Ave</strong><br />
                                        Bronx, NY 10453</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        9:00a - 4:00p<br />
                                        <strong>Thurs</strong> 9:00a - 6:00p<br />
                                        <strong>Sat</strong> 
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.841.2665</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>3770 E. Tremont Avenue</strong><br />
                                        Bronx, NY 10465</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        9:00a - 4:00p<br />
                                        <strong>Thurs</strong>9:00a - 6:00p<br />
                                        <strong>Sat</strong> 
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.828.4949</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#n4"><strong>Brooklyn</strong> <small>4 <span class="hidden-xs">branches</span></small></a></div>
            </div>

            <div class="panel-collapse collapse" id="n4">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#n5"><strong>Queens</strong> <small>5 <span class="hidden-xs">branches</span></small></a></div>
            </div>

            <div class="panel-collapse collapse" id="n5">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#n6"><strong>California</strong> <small>1 <span class="hidden-xs">branch</span></small> </a></div>
            </div>

            <div class="panel-collapse collapse" id="n6">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#n7"><strong>Nevada</strong> <small>1 <span class="hidden-xs">branch</span></small> </a></div>
            </div>

            <div class="panel-collapse collapse" id="n7">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#n8"><strong>New Jersey</strong> <small>1 <span class="hidden-xs">branch</span></small> </a></div>
            </div>

            <div class="panel-collapse collapse" id="n8">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#n9"><strong>Washington, D.C.</strong> <small>1 <span class="hidden-xs">branch</span></small> </a></div>
            </div>

            <div class="panel-collapse collapse" id="n9">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <a class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#n10"><strong>Headquarters</strong>&nbsp; </a></div>
            </div>

            <div class="panel-collapse collapse" id="n10">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel rounded with-gray-border">
                                <div class="panel-body">
                                    <div class="image">
                                        <img src="/sites/default/files/sample-browse-locations.png" /></div>

                                    <div class="address">
                                        <strong>1212 Fulton Street</strong><br />
                                        Brooklyn, NY 11216</div>

                                    <div class="hours">
                                        <strong>Mon, Tues, Wed, Fri</strong><br />
                                        8:30a - 4:00p<br />
                                        <strong>Thurs</strong> 8:30a - 6:00p<br />
                                        <strong>Sat</strong><br />
                                        9:00a - 1:00p</div>

                                    <div class="phone">
                                        718.510.9001</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>Investment and Insurance products:</p>
<ul class="with-arrows">
    <li>Are Not insured by the FDIC or any other federal government agency</li>
    <li>Are Not deposits of or guaranteed by a Bank or any Bank Affiliate</li>
    <li>May Lose Value</li>
</ul>


<table class="table-bordered table table-invest-disclosure">
    <tbody>
        <tr>
            <td>
                <p>
                    Not Guaranteed By the Bank
                </p>
            </td>
            <td>
                <p>
                    Not FDIC Insured
                </p>
            </td>
            <td>
                <p>
                    Not a Deposit
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Not Insured by Any Federal Government Agency
                </p>
            </td>
            <td colspan="2">
                <p>
                    May Lose Value Including Loss of Principal
                </p>
            </td>
        </tr>
    </tbody>
</table>
