<!-- four panel layout for segment landing pages -->
<div class="row r2">
    <div class="col-md-3 col-sm-6 c1">
        <div class="panel rounded with-gray-border js-click-container">
            <div class="panel-heading">
                <h3 class="with-orange-text">Custody Services</h3>
            </div>
            <div class="panel-body">
                <p>Our primary custody services include asset safekeeping, corporate actions, income collections, proxy services, account transition, asset transfer and conversion management.&nbsp;&nbsp;Your organization will have at its disposal a dedicated customer service team that knows and understands your account and a Relationship Manager who will act as a single point of contact.</p>
            </div>

        </div>
    </div>
    <div class="col-md-3 col-sm-6 c2">
        <div class="panel rounded with-gray-border js-click-container">
            <div class="panel-heading">
                <h3 class="with-orange-text">Retirement Plans</h3>
            </div>
            <div class="panel-body">
                <p>Our Defined Contribution Plans draw on our specialized expertise and technological resources to provide a comprehensive service platform for individual pension solutions. We work closely with you to customize a cost-effective service program, coordinate every aspect of your plan, and give you access to 500+ mutual fund families and 200,000 funds, including mutual funds, ETFs and collective trusts.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 c3">
        <div class="panel rounded with-gray-border js-click-container">
            <div class="panel-heading">
                <h3 class="with-orange-text">Corporate Governance</h3>
            </div>
            <div class="panel-body">
                <p>Founded in 1992, the LongView Funds maintain a strong and steady focus on increasing the long-term value of the shares they hold. They have played a prominent leadership role in shareholder activism, advocating sound environmental, social and governance (“ESG”) to safeguard the hard-earned savings of Americans that are entrusted to them.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 c4">
        <div class="panel rounded with-gray-border js-click-container">
            <div class="panel-heading">
                <h3 class="with-orange-text">Corporate Governance</h3>
            </div>
            <div class="panel-body">
                <p>Founded in 1992, the LongView Funds maintain a strong and steady focus on increasing the long-term value of the shares they hold. They have played a prominent leadership role in shareholder activism, advocating sound environmental, social and governance (“ESG”) to safeguard the hard-earned savings of Americans that are entrusted to them.</p>
            </div>
        </div>
    </div>
</div>

<!-- Executive Team -->
<section class="content with-white-background">
    <div class="container">
        <div class="row r1">
            <div class="col-sm-4">
                <p><img class="fluid" src="./assets/images/sample-2.jpg"></p>
            </div>
            <div class="col-sm-8">
                <h3 class="with-blue-text">Keith Mestrich: President &amp; CEO</h3>
                <p>Keith joined the bank in 2012 after serving four years as the CFO of SEIU. A 25-year veteran of the labor movement with Workers United, UNITE HERE, UNITE and the AFL-CIO, he started at Amalgamated as head of the D.C. region. In addition to working at the bank, Keith serves as Chair of the Board of Directors of DC Employment Justice Center and Treasurer of the Union Health Center in NYC and he serves on the board of the National Consumers League.</p>
            </div>
        </div>
    </div>
</section>
<section class="content with-gray-background">
    <div class="container">
        <div class="row r1">
            <div class="col-sm-4">
                <p><img class="fluid" src="./assets/images/sample-2.jpg"></p>
            </div>
            <div class="col-sm-8">
                <h3 class="with-blue-text">Samantha Berg: Executive Vice President, Head of Community Banking</h3>
                <p>Samantha is a marketing and servicing leader with twenty years in banking. Prior to Amalgamated, she headed Small Business Marketing and was Chief of Staff for the Commercial Bank at Capital One. In addition, she has managed Agent Bank relationships for OPEN at American Express and held senior product, marketing and servicing positions at Chase. Samantha serves on the board of Women’s Initiative of New York. Her history with Amalgamated began with her great grandfather, a sewing machine operator, and union member.</p>
            </div>
        </div>
    </div>
</section>
<section class="content with-white-background">
    <div class="container">
        <div class="row r1">
            <div class="col-sm-4">
                <p><img class="fluid" src="./assets/images/sample-2.jpg"></p>
            </div>
            <div class="col-sm-8">
                <h3 class="with-blue-text">Joseph E. Brunken: Senior Vice President, Head of Investment Management Division</h3>
                <p>Joe joined the bank as Director of Marketing &amp; Client Service in 2010. A 30 year veteran in financial services, he has prior experience at Mutual of America Capital Management Corporation where he oversaw all sales and marketing activities and Nikko Capital where he raised $3B.</p>
            </div>
        </div>
    </div>
</section>
<section class="content with-gray-background">
    <div class="container">
        <div class="row r1">
            <div class="col-sm-4">
                <p><img class="fluid" src="./assets/images/sample-2.jpg"></p>
            </div>
            <div class="col-sm-8">
                <h3 class="with-blue-text">Lawrence Fruchtman: Executive Vice President, General Counsel</h3>
                <p>Prior to joining Amalgamated, Larry served as Special Counsel at Cadwalader, Vice-President and Counsel at Natwest Bancorp, and started career at the Federal Reserve Bank of New York. He is the author of “Gramm-Leach-Bliley Act of 1999, Financial Services Modernization: Risks and Opportunities for Insurers Under the New Affiliation Rules”.</p>
            </div>
        </div>
    </div>
</section>
<section class="content with-white-background">
    <div class="container">
        <div class="row r1">
            <div class="col-sm-4">
                <p><img class="fluid" src="./assets/images/sample-2.jpg"></p>
            </div>
            <div class="col-sm-8">
                <h3 class="with-blue-text">Mark Minter: Executive Vice President, Chief Credit Risk Officer</h3>
                <p>A seasoned credit and risk executive, Mark joined Amalgamated from RBS Citizens Financial Group, where he was Head of Corporate Banking Commercial Portfolio Management, and Chief Credit Officer (CCO) - Wholesale. Mark began his career in banking at JPMorgan Chase where he held lending positions in Textiles and Apparel, Foreign Direct Investment, and Electronics and High Tech. He subsequently held management roles in Credit, Leveraged Buyouts, and Loan Workout at Citibank and at IBJ Whitehall Bank. Mark served on the board of Project Renewal, a nonprofit organization that provides housing and job training for homeless individuals in New York City.</p>
            </div>
        </div>
    </div>
</section>
<section class="content with-gray-background">
    <div class="container">
        <div class="row r1">
            <div class="col-sm-4">
                <p><img class="fluid" src="./assets/images/sample-2.jpg"></p>
            </div>
            <div class="col-sm-8">
                <h3 class="with-blue-text">Kenneth Schmidt: Interim Chief Financial Officer</h3>
                <p>Ken joined Amalgamated in 2012 as Treasurer, with over 20 years of banking experience. He began his career in Investment Accounting at the Dime Savings Bank of New York. He has served as Portfolio Manager for two international banks and most recently was Chief Financial Officer for Darien Rowayton Bank where Ken played a key role in returning the bank to key regulatory standing and profitability.</p>
            </div>
        </div>
    </div>
</section>
<section class="content with-white-background">
    <div class="container">
        <div class="row r1">
            <div class="col-sm-4">
                <p><img class="fluid" src="./assets/images/sample-2.jpg"></p>
            </div>
            <div class="col-sm-8">
                <h3 class="with-blue-text">Brian Smalley: Senior Vice President, Commercial Real Estate</h3>
                <p>Prior to joining the bank in 2010, Brian served as Vice President of Commercial Real Estate at M&amp;T Bank. Brian specializes in multi-family buildings, cooperative underlying mortgages, bulk cooperative and condominium apartments, mixed-use properties, and office buildings. His career began at the NYC Housing Partnership, promoting the development of affordable housing in NYC.</p>
            </div>
        </div>
    </div>
</section>
<section class="content with-gray-background">
    <div class="container">
        <div class="row r1">
            <div class="col-sm-4">
                <p><img class="fluid" src="./assets/images/sample-2.jpg"></p>
            </div>
            <div class="col-sm-8">
                <h3 class="with-blue-text">Ben Szwalbenest: Executive Vice President, Chief Administrative Officer &amp; Chief Compliance Officer</h3>
                <p>Ben joined Amalgamated Bank in November 2011 as the bank's Director of Regulatory Compliance, bringing with him over 30 years of diversified banking experience. Ben previously served as a Managing Director at JP Morgan Chase, leading the heritage Bear Stearns domestic bank, Custodial Trust Company. Prior to his time at Bear Stearns and Custodial Trust Company, Ben served as a Board of Governors of the Federal Reserve System commissioned Senior Bank Examiner at the Federal Reserve Bank of New York, where he managed the compliance team enforcing consumer compliance, margin lending, and anti-money laundering laws and regulations.</p>
            </div>
        </div>
    </div>
</section>



<!-- Fees tables -->
<h3>
    Check/ACH Items <sup>‡</sup></h3>

<table class="table table-hover table-striped">
    <colgroup>
        <col width="*" />
        <col width="1" />
    </colgroup>
    <thead>
        <tr>
            <th>
                Fee Description</th>
            <th>
                Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Personal Money Order (Customer Only)</td>
            <td class="text-right">
                $10.00 <sup>‡</sup></td>
        </tr>
        <tr>
            <td>
                Cashier's Check (Payable to Third Party)</td>
            <td class="text-right">
                $15.00 <sup>‡</sup></td>
        </tr>
        <tr>
            <td>
                Returned Deposit Item</td>
            <td class="text-right">
                $10.00 <sup>‡</sup></td>
        </tr>
        <tr>
            <td>
                Insufficient Fund Fee (NSF) – Returned Item Fee<br />
                Changed for Insufficient or Uncollected Funds *</td>
            <td class="text-right">
                $34.00 <sup>1‡</sup></td>
        </tr>
        <tr>
            <td>
                Overdraft Item Paid – Fee Charged for Paid Item<br />
                Against Insufficient Or Uncollected Funds *</td>
            <td class="text-right">
                $34.00 <sup>1‡</sup></td>
        </tr>
        <tr>
            <td>
                Check Orders Fee</td>
            <td class="text-right">
                Varies</td>
        </tr>
        <tr>
            <td>
                Checkbook Reconciliation (per hour)</td>
            <td class="text-right">
                $20.00</td>
        </tr>
    </tbody>
</table>

<table class="table table-hover table-striped">
    <colgroup>
        <col width="*" />
        <col width="1" />
    </colgroup>
    <thead>
        <tr>
            <th>
                Fee Description</th>
            <th>
                Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Copy of Check or Statement</td>
            <td class="text-right">
                $5.00 <sup>2</sup></td>
        </tr>
        <tr>
            <td>
                Dormant Account Monthly Maintenance Fee<br />
                (On select checking accounts only)</td>
            <td class="text-right">
                $2.50 <sup>3</sup></td>
        </tr>
        <tr>
            <td>
                Non-Usage Fee<br />
                (On select accounts only)</td>
            <td class="text-right">
                $5.00</td>
        </tr>
        <tr>
            <td>
                Returned Deposit Item</td>
            <td class="text-right">
                $10.00<sup> ‡</sup></td>
        </tr>
        <tr>
            <td>
                Insufficient Fund Fee (NSF) – Returned Item Fee<br />
                Changed for Insufficient or Uncollected Funds *</td>
            <td class="text-right">
                $34.00 <sup>1‡</sup></td>
        </tr>
        <tr>
            <td>
                Overdraft Item Paid – Fee Charged for Paid Item<br />
                Against Insufficient Or Uncollected Funds *</td>
            <td class="text-right">
                $34.00 <sup>1‡</sup></td>
        </tr>
        <tr>
            <td>
                Signature Guarantee (per item)</td>
            <td class="text-right">
                $10.00</td>
        </tr>
    </tbody>
</table>

<h3>
    EFT Transaction Fees</h3>

<table class="table table-hover table-striped">
    <colgroup>
        <col width="*" />
        <col width="1" />
    </colgroup>
    <thead>
        <tr>
            <th>
                Fee Description</th>
            <th>
                Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Transactin at AB and AllPoint ATMS</td>
            <td class="text-right">
                No Fees</td>
        </tr>
        <tr>
            <td>
                ATM Network Transaction Fee (non AB and non Allpoint ATMs)</td>
            <td class="text-right">
                $1.50</td>
        </tr>
    </tbody>
</table>

<h3>
    Wire Transfers</h3>

<table class="table table-hover table-striped">
    <colgroup>
        <col width="*" />
        <col width="1" />
    </colgroup>
    <thead>
        <tr>
            <th>
                Fee Description</th>
            <th>
                Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Outgoing - Domestic</td>
            <td class="text-right">
                $33.00 <sup>‡</sup></td>
        </tr>
        <tr>
            <td>
                Incoming</td>
            <td class="text-right">
                $15.00 <sup>‡</sup></td>
        </tr>
    </tbody>
</table>

<h3>
    External Transfer Stop Payment Fee</h3>

<table class="table table-hover table-striped">
    <colgroup>
        <col width="*" />
        <col width="1" />
    </colgroup>
    <thead>
        <tr>
            <th>
                Fee Description</th>
            <th>
                Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Fee per Item</td>
            <td class="text-right">
                $35.00 <sup>‡</sup></td>
        </tr>
    </tbody>
</table>

<h3>
    Amalgamated Gift Card (Not Available in NV &amp; NJ)</h3>

<table class="table table-hover table-striped">
    <colgroup>
        <col width="*" />
        <col width="1" />
    </colgroup>
    <thead>
        <tr>
            <th>
                Fee Description</th>
            <th>
                Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Purchase Fee</td>
            <td class="text-right">
                $2.95 <sup>‡</sup></td>
        </tr>
        <tr>
            <td>
                Service Fee (Inactivity) <sup>5</sup></td>
            <td class="text-right">
                $4.95 <sup>‡</sup></td>
        </tr>
        <tr>
            <td>
                Replacement - Lost or Stolen Card</td>
            <td class="text-right">
                $15.00 <sup>‡</sup></td>
        </tr>
    </tbody>
</table>

<h3>
    Excess Transaction Fee (per item)</h3>

<table class="table table-hover table-striped">
    <colgroup>
        <col width="*" />
        <col width="1" />
    </colgroup>
    <thead>
        <tr>
            <th>
                Fee Description</th>
            <th>
                Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Money Market Account</td>
            <td class="text-right">
                $5.00 <sup>‡</sup></td>
        </tr>
        <tr>
            <td>
                Savings Account</td>
            <td class="text-right">
                $5.00 <sup>‡</sup></td>
        </tr>
        <tr>
            <td>
                Replacement - Lost or Stolen Card</td>
            <td class="text-right">
                $15.00 <sup>‡</sup></td>
        </tr>
    </tbody>
</table>

<div class="panel panel-rounded">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-1">
                <sup>*</sup></div>

            <div class="col-md-11">
                <p>
                    <small>The fee applies to a maximum of five (5) items (paid or returned) per day, per account.</small></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <sup>1</sup></div>

            <div class="col-md-11">
                <p>
                    <small>$25.00 in California and Nevada</small></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <sup>2</sup></div>

            <div class="col-md-11">
                <p>
                    <small>First two item fees waived per month in California</small></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <sup>3</sup></div>

            <div class="col-md-11">
                <p>
                    <small>Excludes accounts in California and Nevada</small></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <sup>4</sup></div>

            <div class="col-md-11">
                <p>
                    <small>Additional advertisement fee may apply</small></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <sup>5</sup></div>

            <div class="col-md-11">
                <p>
                    <small>Fee is charged on the first day of the 13th month from the last card activity date</small></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <sup>‡</sup></div>

            <div class="col-md-11">
                <p>
                    <small>Denotes change from previous fee</small></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>
                    <small>This Common Fees document supersedes previous schedule for the above fees and may be changed by the Bank at any time.</small></p>
            </div>
        </div>
    </div>
</div>

<!-- Primary Navigation -->
<div class="navigation primary hidden-xs">
    <ul class="with-mega">
        <li class="with-mega">
            <a href="#">Personal<br />Banking</a>
            <div class="mega">
                <div class="row">
                    <div class="col-md-3 col-sm-6 c1">

                        <h3 class="with-orange-text">Bank</h2>

                            <ul class="primary">
                                <li><a href="#">Checking</a></li>
                                <li><a href="#">Savings</a></li>
                            </ul>

                            <ul class="secondary">
                                <li><a href="#">Online Banking</a></li>
                                <li><a href="#">All-point ATMs</a></li>
                                <li><a href="#">Overdraft Protection</a></li>
                                <li><a href="#">Additional Services</a></li>
                            </ul>

                    </div>

                    <div class="col-md-3 col-sm-6 c2">

                        <h3 class="with-orange-text">Borrow</h2>

                            <ul class="primary">
                                <li><a href="#">Mortgage</a></li>
                                <li><a href="#">Personal Loans</a></li>
                            </ul>

                    </div>

                    <div class="col-md-3 col-sm-6 c3">

                        <h3 class="with-orange-text">Invest</h2>

                            <ul class="primary">
                                <li><a href="#">Investments</a></li>
                                <li><a href="#">Insurance</a></li>
                                <li><a href="#">IRAs</a></li>
                            </ul>

                    </div>

                    <div class="col-md-3 col-sm-6 c4">

                        <h3 class="with-orange-text">Learn</h2>

                            <ul class="primary">
                                <li><a href="#">Banking tips</a></li>
                                <li><a href="#">Mortgages</a></li>
                                <li><a href="#">Retirement</a></li>
                                <li><a href="#">All learning</a></li>
                            </ul>

                            <ul class="secondary">
                                <li><a href="#">Educational events</a></li>
                                <li><a href="#">Our story</a></li>
                            </ul>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center hidden-xs c5">

                        <a class="btn rounded btn-block with-white-text with-white-border with-blue-background" href="#">All Personal Banking options</a>

                    </div>
                    <div class="col-md-4"></div>
                </div>
        </li>

        <li class="with-mega">
            <a href="#">Organizational<br />Banking</a>
            <div class="mega">

                <div class="col-md-3 col-sm-6 c1">

                    <h2 class="with-white-text">
                        <a href="#">Unions</a>
                    </h2>

                    <p>As a majority-owned union bank we have a unique understanding of the financial needs unions face</p>

                </div>

                <div class="col-md-3 col-sm-6 c2">

                    <h2 class="with-white-text">
                        <a href="#">Nonprofits</a>
                    </h2>

                    <p>Through faster access to funds, we can help your non-profit improve cash flow</p>

                </div>

                <div class="col-md-3 col-sm-6 c3">

                    <h2 class="with-white-text">
                        <a href="#">Political Organizations</a>
                    </h2>

                    <p>We understand the unique logistical challenges campaign organizations face</p>

                </div>

                <div class="col-md-3 col-sm-6 c4">

                    <h2 class="with-white-text">
                        <a href="#">State &amp; Local Municipalities</a>
                    </h2>

                    <h2 class="with-white-text">
                        <a href="#">Institutional Investors</a>
                    </h2>

                </div>

            </div>
        </li>
        <li class="with-mega">
            <a href="#">Business<br />Banking</a>
            <div class="mega">

                <div class="col-md-4 col-sm-6 c1">

                    <h3 class="with-orange-text">Small Business</h2>

                        <ul class="primary">
                            <li><a href="#">Treasury Management</a></li>
                            <li><a href="#">Business Checking</a></li>
                            <li><a href="#">Savings</a></li>
                        </ul>

                </div>

                <div class="col-md-4 col-sm-6 c2">

                    <h3 class="with-orange-text">Commercial Business</h2>

                        <ul class="primary">
                            <li><a href="#">Middle Market Lending</a></li>
                            <li><a href="#">Real Estate Lending</a></li>
                            <li><a href="#">Amalgamated Capital</a></li>
                            <li><a href="#">Investment Options</a></li>
                            <li><a href="#">Custody</a></li>
                        </ul>

                        <ul class="secondary">
                            <li><a href="#">Commercial Business Expertise</a></li>
                        </ul>

                </div>

                <div class="col-md-4 col-sm-6 c3">

                    <h3 class="with-orange-text">Industry Specialties</h2>

                        <ul class="primary">
                            <li><a href="#">Commercial Real Estate</a></li>
                            <li><a href="#">Healthcare</a></li>
                            <li><a href="#">Law Firms</a></li>
                            <li><a href="#">Municipalities</a></li>
                            <li><a href="#">Nonprofit Services</a></li>
                            <li><a href="#">Political Organizations</a></li>
                            <li><a href="#">Union Services</a></li>
                        </ul>

                </div>

            </div>
        </li>
        <li class="with-mega with-flag">
            <a href="#">What we<br />stand for <span class="flag"></span></a>
            <div class="mega">

                <div class="col-md-3 col-sm-6 c1">

                    <h3 class="with-orange-text">Who We Are</h2>

                        <ul class="primary">
                            <li><a href="#">History</a></li>
                            <li><a href="#">Clients</a></li>
                            <li><a href="#">Management</a></li>
                            <li><a href="#">Financials</a></li>
                        </ul>

                </div>

                <div class="col-md-3 col-sm-6 c2">

                    <h3 class="with-orange-text">What We Stand For</h2>

                        <ul class="primary">
                            <li><a href="#">Mission &amp; Values</a></li>
                            <li><a href="#">Community Impact</a></li>
                        </ul>

                </div>

                <div class="col-md-3 col-sm-6 c3">

                    <h3 class="with-orange-text">What We're Doing</h2>

                        <ul class="primary">
                            <li><a href="#">Corporate Responsibility</a></li>
                            <li><a href="#">Charitable Giving</a></li>
                            <li><a href="#">Financial Literacy</a></li>
                        </ul>


                        <ul class="secondary">
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Volunteer</a></li>
                            <li><a href="#">Opportunities</a></li>
                        </ul>

                </div>

                <div class="col-md-3 col-sm-6 c4">

                    <h3 class="with-orange-text">More</h2>

                        <ul class="primary">
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">News</a></li>
                        </ul>

                </div>

            </div>
        </li>
    </ul>
</div>

<ul>
    <li>
        <a href="/" class="with-underline">LongView Core Plus Bond Fund</a>
    </li>
    <li>
        <a href="/" class="with-underline">LongView Core Bond Fund</a>
    </li>
    <li>
        <a href="/" class="with-underline">LongView Core Bond VEBA Fund</a>
    </li>
    <li>
        <a href="/" class="with-underline">LongView Build America Bond VEBA Fund</a>
    </li>
    <li>
        <a href="/" class="with-underline">LongView Structured Credit Fund</a>
    </li>
    <li>
        <a href="/" class="with-underline">Intermediate Bond Strategy I</a>
    </li>
    <li>
        <a href="/" class="with-underline">Short Term Bond Strategy I</a>
    </li>
    <li>
        <a href="/" class="with-underline">Core Bond Strategy</a>
    </li>
</ul>

<h3 class="with-orange-text">WORD</h3>

<a class="with-underline" href="/">WORD</a>

<p><a class="btn btn-compact rounded with-orange-background with-white-text" href="/">Learn more</a></p>

<p><a class="btn btn-compact rounded with-blue-background with-white-text" href="/">Learn more</a></p>




<!-- Main Links for Secondary -->
<div class="navigation secondary hidden-sm hidden-xs">
    <ul>
        <li>
            <a href="/contact">Contact</a></li>
        <li>
            <a href="/find-branchatm">Find a branch/ATM</a></li>
        <li class="search">
            <a href="/search">Search</a></li>
        <li class="login">
            <a class="btn rounded with-orange-background with-white-text"> Login</a></li>
    </ul>
</div>

<!-- Scripts for the hiding and showing of DIVs -->
<script>
    // Hides all of the divs Initially
    hideAllDivs = function() {
        $("#select-personal-banking").hide();
        $("#select-personal-investing").hide();
        $("#select-online-treasury-manager").hide();
        $("#select-remote-deposit-capture").hide();
        $("#select-trust-web").hide();
        $("#select-my-401k").hide();
        $("#select-ics").hide();
        $("#select-abfast").hide();
        $("#select-moneycard").hide();
    };

    handleNewSelection = function() {

        hideAllDivs();

        switch ($(this).val()) {
            case '1':
                $("#select-personal-banking").show();
                break;
            case '2':
                $("#select-personal-investing").show();
                break;
            case '3':
                $("#select-online-treasury-manager").show();
                break;
            case '4':
                $("#select-remote-deposit-capture").show();
                break;
            case '5':
                $("#select-trust-web").show();
                break;
            case '6':
                $("#select-my-401k").show();
                break;
            case '7':
                $("#select-ics").show();
                break;
            case '8':
                $("#select-abfast").show();
                break;
            case '9':
                $("#select-moneycard").show();
                break;
        }
    };

    

        $("#account-selection").change(handleNewSelection);

        // Run the event handler once now to ensure everything is as it should be
        handleNewSelection.apply($("#account-selection"));
</script>

<!-- Accounts Popup -->
<div id="login">
    <!-- Account Selection Drop Down -->
    <form id="account-selection-form" class="form-horizontal styled">
        <fieldset>
            <div class="form-group">
                <select id="account-selection">
                    <option value="">Choose an Account</option>
                    <option value="1">Personal Banking</option>
                    <option value="2">Personal Investing</option>
                    <option value="3">Online Treasury Manager</option>
                    <option value="4">Remote Deposit Capture</option>
                    <option value="5">Trust Web</option>
                    <option value="6">My 401(k)/403(b) Plan</option>
                    <option value="7">ICS</option>
                    <option value="8">AB Fast</option>
                    <option value="9">Moneycard</option>
                </select>
            </div>
        </fieldset>
    </form>
    <!-- Personal Banking Login Form -->
    <div class="row select-personal-banking">
        <div class="col-md-12"><h4 class="with-white-text">Log Into Personal Banking</h4></div>
        <div class="col-md-12">
            <script>
                function enableMe() {
                    document.getElementById("dscheck").value = "0";
                }
                function isCookieEnabled() {
                    var exp = new Date();
                    exp.setTime(exp.getTime() + 1800000);
                    setCookie("testCookie", "cookie", exp, false, false, false);
                    if (document.cookie.indexOf('testCookie') == - 1) {
                    return false;
                    }
                    Updated 12 / 14 / 2012
                            exp = new Date();
                    exp.setTime(exp.getTime() - 1800000);
                    setCookie("testCookie", "cookie", exp, false, false, false);
                    return true;
                }
                function setCookie(name, value, expires, path, domain, secure) {
                    var curCookie = name + "=" + value +
                            ((expires) ? "; expires=" + expires.toGMTString() : "") + ((path) ? "; path=" + path : "") +
                            ((domain) ? "; domain=" + domain : "") + ((secure) ? "; secure" : "");
                    document.cookie = curCookie;
                }
                function isDupSubmit() {
                    var dupSbmt = true;
                    var e = document.getElementById("dscheck");
                    if (e != null && e.value == "0") {
                        dupSbmt = false;
                        e.value = "1";
                        setTimeout(enableMe, 5000);
                    }
                    return dupSbmt;
                }
                function setParamStatus() {
                    if (!isDupSubmit()) {
                        if (isCookieEnabled()) {
                            document.getElementById('testcookie').value = 'true';
                        }
                        document.getElementById('testjs').value = 'true';
                        return true;
                    }
            </script>
            <form action="https://www.amalgamatedbank.com/tob/live/usp-core/app/initialLogin" autocomplete="off" class="form-horizontal styled" id="loginForm" method="post" onsubmit="return setParamStatus();">
                <div class="form-group">
                    <div class="col-md-12">
                        <input autocomplete="off" class="form-control" id="userid" name="userid" placeholder="Username" type="text" value="" /></div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <input class="form-control" id="password" name="password" placeholder="**********" type="password" value="" /></div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <input class="pull-left btn rounded with-blue-background with-white-text" id="submitBtn" type="submit" />
                        <div class="col-md-1">
                            &nbsp;</div>

                        <div class="pull-left forgot-password">
                            <a href="https://www.amalgamatedbank.com/tob/live/usp-core/app/authUpdate">Forgot Password?</a></div>
                    </div>
                </div>
                <input id="testcookie" name="testcookie" type="hidden" value="false" /> <input id="testjs" name="testjs" type="hidden" value="false" /> <input id="dscheck" name="dscheck" type="hidden" value="0" />
            </form>
        </div><!-- END .col-md-12 -->
    </div><!-- END .row .personal-banking -->

    <!-- Personal Investing -->
    <div class="row select-personal-investing">
        <a class="pull-left btn rounded with-blue-background with-white-text" href="http://www.ensinet.com">Continue</a>
    </div>

    <!-- Online Treasury Manager -->
    <div class="row select-online-treasury-manager">
        <a class="pull-left btn rounded with-blue-background with-white-text" href="https://ab.ebanking-services.com/EamWeb/account/login.aspx?appId=beb&brand=ab">Continue</a>
    </div>

    <!-- Remote Deposit Capture -->
    <div class="row select-remote-deposit-capture">
        <a class="pull-left btn rounded with-blue-background with-white-text" href="https://xpress.epaysol.com/ct/?bid=097109108">Continue</a>
    </div>

    <!-- Trust Web -->
    <div class="row select-trust-web">
        <a class="pull-left btn rounded with-blue-background with-white-text" href="https://www.abtrustweb.com/Tricipher/Login.asp">Continue</a>
    </div>

    <!-- My 401(k)/403(b) Plan -->
    <div class="row select-my-401k">
        <a class="pull-left btn rounded with-blue-background with-white-text" href="https://my401k.amalgamatedbank.com/dotnet/login/login_amal.aspx">Continue</a>
    </div>

    <!-- ICS -->
    <div class="row select-ics">
        <a class="pull-left btn rounded with-blue-background with-white-text" href="https://depositorcontrol.com">Continue</a>
    </div>

    <!-- AB Fast -->
    <div class="row select-abfast">
        <a class="pull-left btn rounded with-blue-background with-white-text" href="https://abfastweb.com">Continue</a>
    </div>

    <!-- Moneycard -->
    <div class="row select-moneycard">
        <a class="pull-left btn rounded with-blue-background with-white-text" href="https://idp.consumercardaccess.com/main/moneycard/Login">Continue</a>
    </div>

    <div class="clearfix"></div>
    <div class="close"></div>
</div>



<!-- OLD WAY -->
<div class="navigation secondary hidden-sm hidden-xs">
    <ul>
        <li>
            <a href="/contact">Contact</a></li>
        <li>
            <a href="/find-branchatm">Find a branch/ATM</a></li>
        <li class="search">
            <a href="/search">Search</a></li>
        <li class="login">
            <a class="btn rounded with-orange-background with-white-text"> Login</a></li>
    </ul>
</div>
<br>
<!-- Login Popup -->
<div id="login">

    <div class="row"> </div>
<br>
    <div class="row select-personal-banking">
<div class="col-md-12"><h4 class="with-white-text">Log Into Personal Banking</h4></div>
        <div class="col-md-12">
            <script>
                function enableMe() {
                    document.getElementById("dscheck").value = "0";
                }
                function isCookieEnabled() {
                    var exp = new Date();
                    exp.setTime(exp.getTime() + 1800000);
                    setCookie("testCookie", "cookie", exp, false, false, false);
                    if (document.cookie.indexOf('testCookie') == - 1) {
                    return false;
                    }
                    Updated 12 / 14 / 2012
                            exp = new Date();
                    exp.setTime(exp.getTime() - 1800000);
                    setCookie("testCookie", "cookie", exp, false, false, false);
                    return true;
                }
                function setCookie(name, value, expires, path, domain, secure) {
                    var curCookie = name + "=" + value +
                            ((expires) ? "; expires=" + expires.toGMTString() : "") + ((path) ? "; path=" + path : "") +
                            ((domain) ? "; domain=" + domain : "") + ((secure) ? "; secure" : "");
                    document.cookie = curCookie;
                }
                function isDupSubmit() {
                    var dupSbmt = true;
                    var e = document.getElementById("dscheck");
                    if (e != null && e.value == "0") {
                        dupSbmt = false;
                        e.value = "1";
                        setTimeout(enableMe, 5000);
                    }
                    return dupSbmt;
                }
                function setParamStatus() {
                    if (!isDupSubmit()) {
                        if (isCookieEnabled()) {
                            document.getElementById('testcookie').value = 'true';
                        }
                        document.getElementById('testjs').value = 'true';
                        return true;
                    }
            </script>
            <form action="https://www.amalgamatedbank.com/tob/live/usp-core/app/initialLogin" autocomplete="off" class="form-horizontal styled" id="loginForm" method="post" onsubmit="return setParamStatus();">
                <div class="form-group">
                    <div class="col-md-12">
                        <input autocomplete="off" class="form-control" id="userid" name="userid" placeholder="Username" type="text" value="" /></div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <input class="form-control" id="password" name="password" placeholder="**********" type="password" value="" /></div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <input class="pull-left btn rounded with-blue-background with-white-text" id="submitBtn" type="submit" />
                        <div class="col-md-1">
                            &nbsp;</div>

                        <div class="pull-left forgot-password">
                            <a href="https://www.amalgamatedbank.com/tob/live/usp-core/app/authUpdate">Forgot Password?</a></div>
                    </div>
                </div>
                <input id="testcookie" name="testcookie" type="hidden" value="false" /> <input id="testjs" name="testjs" type="hidden" value="false" /> <input id="dscheck" name="dscheck" type="hidden" value="0" />
            </form>
        </div><!-- END .col-md-12 -->
    </div><!-- END .row -->

    <div class="clearfix"></div>

    <h4 class="with-white-text">Manage Other Accounts</h4>


    <form id="jump" class="form-horizontal styled" method="get" target="_blank">
        <fieldset>
            <div class="form-group">
                <select id="url" name="destination">
                    <option value="http://www.ensinet.com">Personal Investing</option>
                    <option value="https://ab.ebanking-services.com/EamWeb/account/login.aspx?appId=beb&brand=ab">Online Treasury Manager</option>
                    <option value="https://xpress.epaysol.com/ct/?bid=097109108">Remote Deposit Capture</option>
                    <option value="https://www.abtrustweb.com/Tricipher/Login.asp">Trust Web</option>
                    <option value="https://my401k.amalgamatedbank.com/dotnet/login/login_amal.aspx">My 401(k)/403(b) Plan</option>
                    <option value="https://depositorcontrol.com/">ICS</option>
                    <option value="https://abfastweb.com">AB Fast</option>
                    <option value="https://idp.consumercardaccess.com/main/moneycard/Login">Moneycard</option>
                </select>
            </div>
        </fieldset>
    </form> 
    <div class="clearfix"></div>
    <div class="close"></div>
</div>

<script>
                        // Hides all of the divs Initially
                        hideAllDivs = function() {
                            $("#select-personal-banking").hide();
                            $("#select-personal-investing").hide();
                            $("#select-online-treasury-manager").hide();
                            $("#select-remote-deposit-capture").hide();
                            $("#select-trust-web").hide();
                            $("#select-my-401k").hide();
                            $("#select-ics").hide();
                            $("#select-abfast").hide();
                            $("#select-moneycard").hide();
                        };
                        // Shows all of the divs separately based on selection:
                        handleNewSelection = function() {

                            hideAllDivs();

                            switch ($(this).val()) {
                                case '1':
                                    $("#select-personal-banking").show();
                                    $("#select-personal-investing").hide();
                                    $("#select-online-treasury-manager").hide();
                                    $("#select-remote-deposit-capture").hide();
                                    $("#select-trust-web").hide();
                                    $("#select-my-401k").hide();
                                    $("#select-ics").hide();
                                    $("#select-abfast").hide();
                                    $("#select-moneycard").hide();
                                    break;
                                case '2':
                                    $("#select-personal-investing").show();
                                    $("#select-personal-banking").hide();
                                    $("#select-online-treasury-manager").hide();
                                    $("#select-remote-deposit-capture").hide();
                                    $("#select-trust-web").hide();
                                    $("#select-my-401k").hide();
                                    $("#select-ics").hide();
                                    $("#select-abfast").hide();
                                    $("#select-moneycard").hide();
                                    break;
                                case '3':
                                    $("#select-online-treasury-manager").show();
                                    $("#select-personal-banking").hide();
                                    $("#select-personal-investing").hide();
                                    $("#select-remote-deposit-capture").hide();
                                    $("#select-trust-web").hide();
                                    $("#select-my-401k").hide();
                                    $("#select-ics").hide();
                                    $("#select-abfast").hide();
                                    $("#select-moneycard").hide();
                                    break;
                                case '4':
                                    $("#select-remote-deposit-capture").show();
                                    $("#select-personal-banking").hide();
                                    $("#select-personal-investing").hide();
                                    $("#select-online-treasury-manager").hide();
                                    $("#select-trust-web").hide();
                                    $("#select-my-401k").hide();
                                    $("#select-ics").hide();
                                    $("#select-abfast").hide();
                                    $("#select-moneycard").hide();
                                    break;
                                case '5':
                                    $("#select-trust-web").show();
                                    $("#select-personal-banking").hide();
                                    $("#select-personal-investing").hide();
                                    $("#select-online-treasury-manager").hide();
                                    $("#select-remote-deposit-capture").hide();
                                    $("#select-my-401k").hide();
                                    $("#select-ics").hide();
                                    $("#select-abfast").hide();
                                    $("#select-moneycard").hide();
                                    break;
                                case '6':
                                    $("#select-my-401k").show();
                                    $("#select-personal-banking").hide();
                                    $("#select-personal-investing").hide();
                                    $("#select-online-treasury-manager").hide();
                                    $("#select-remote-deposit-capture").hide();
                                    $("#select-trust-web").hide();
                                    $("#select-ics").hide();
                                    $("#select-abfast").hide();
                                    $("#select-moneycard").hide();
                                    break;
                                case '7':
                                    $("#select-ics").show();
                                    $("#select-personal-banking").hide();
                                    $("#select-personal-investing").hide();
                                    $("#select-online-treasury-manager").hide();
                                    $("#select-remote-deposit-capture").hide();
                                    $("#select-trust-web").hide();
                                    $("#select-my-401k").hide();
                                    $("#select-abfast").hide();
                                    $("#select-moneycard").hide();
                                    break;
                                case '8':
                                    $("#select-abfast").show();
                                    $("#select-personal-banking").hide();
                                    $("#select-personal-investing").hide();
                                    $("#select-online-treasury-manager").hide();
                                    $("#select-remote-deposit-capture").hide();
                                    $("#select-trust-web").hide();
                                    $("#select-my-401k").hide();
                                    $("#select-ics").hide();
                                    $("#select-moneycard").hide();
                                    break;
                                case '9':
                                    $("#select-moneycard").show();
                                    $("#select-personal-banking").hide();
                                    $("#select-personal-investing").hide();
                                    $("#select-online-treasury-manager").hide();
                                    $("#select-remote-deposit-capture").hide();
                                    $("#select-trust-web").hide();
                                    $("#select-my-401k").hide();
                                    $("#select-ics").hide();
                                    $("#select-abfast").hide();
                                    break;
                            }
                        };



                        $("#account-selection").change(handleNewSelection);

                        // Run the event handler once now to ensure everything is as it should be
                        handleNewSelection.apply($("#account-selection"));                                       
</script>